<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeplus.modules.business.dao.ArtistMapper" >
  <resultMap id="BaseResultMap" type="com.jeeplus.modules.business.entity.Artist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="artist_name" property="artistName" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="big_img" property="bigImg" jdbcType="VARCHAR" />
    <result column="small_img" property="smallImg" jdbcType="VARCHAR" />
    <result column="artist_level" property="artistLevel" jdbcType="VARCHAR" />
    <result column="artist_desc" property="artistDesc" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_check" property="isCheck" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jeeplus.modules.business.entity.Artist" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, artist_name,avatar, phone, email, big_img, small_img, artist_level, artist_desc, province_code, 
    city_code, city, realname, idcard, gender, address, school, birthday, create_time, 
    update_time, is_check, status, operator_id, remark
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jeeplus.modules.business.entity.ArtistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_artists
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jeeplus.modules.business.entity.ArtistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_artists
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_artists
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_artists
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jeeplus.modules.business.entity.ArtistExample" >
    delete from t_artists
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jeeplus.modules.business.entity.Artist" >
    insert into t_artists (id, 
      artist_name,avatar, phone, 
      email, big_img, small_img, 
      artist_level, artist_desc, province_code, 
      city_code, city, realname, 
      idcard, gender, address, 
      school, birthday, create_time, 
      update_time, is_check, status, 
      operator_id, remark, content
      )
    values (#{id,jdbcType=INTEGER}, #{artistName,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{bigImg,jdbcType=VARCHAR}, #{smallImg,jdbcType=VARCHAR}, 
      #{artistLevel,jdbcType=VARCHAR}, #{artistDesc,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, #{address,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isCheck,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{operatorId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jeeplus.modules.business.entity.Artist" >
    insert into t_artists
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="artistName != null" >
        artist_name,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="bigImg != null" >
        big_img,
      </if>
      <if test="smallImg != null" >
        small_img,
      </if>
      <if test="artistLevel != null" >
        artist_level,
      </if>
      <if test="artistDesc != null" >
        artist_desc,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isCheck != null" >
        is_check,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="artistName != null" >
        #{artistName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null" >
        #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="smallImg != null" >
        #{smallImg,jdbcType=VARCHAR},
      </if>
      <if test="artistLevel != null" >
        #{artistLevel,jdbcType=VARCHAR},
      </if>
      <if test="artistDesc != null" >
        #{artistDesc,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCheck != null" >
        #{isCheck,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jeeplus.modules.business.entity.ArtistExample" resultType="java.lang.Integer" >
    select count(*) from t_artists
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_artists
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.artistName != null" >
        artist_name = #{record.artistName,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null" >
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.bigImg != null" >
        big_img = #{record.bigImg,jdbcType=VARCHAR},
      </if>
      <if test="record.smallImg != null" >
        small_img = #{record.smallImg,jdbcType=VARCHAR},
      </if>
      <if test="record.artistLevel != null" >
        artist_level = #{record.artistLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.artistDesc != null" >
        artist_desc = #{record.artistDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        province_code = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isCheck != null" >
        is_check = #{record.isCheck,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.operatorId != null" >
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_artists
    set id = #{record.id,jdbcType=INTEGER},
      artist_name = #{record.artistName,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      big_img = #{record.bigImg,jdbcType=VARCHAR},
      small_img = #{record.smallImg,jdbcType=VARCHAR},
      artist_level = #{record.artistLevel,jdbcType=VARCHAR},
      artist_desc = #{record.artistDesc,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      address = #{record.address,jdbcType=VARCHAR},
      school = #{record.school,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_check = #{record.isCheck,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_artists
    set id = #{record.id,jdbcType=INTEGER},
      artist_name = #{record.artistName,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      big_img = #{record.bigImg,jdbcType=VARCHAR},
      small_img = #{record.smallImg,jdbcType=VARCHAR},
      artist_level = #{record.artistLevel,jdbcType=VARCHAR},
      artist_desc = #{record.artistDesc,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      address = #{record.address,jdbcType=VARCHAR},
      school = #{record.school,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_check = #{record.isCheck,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeeplus.modules.business.entity.Artist" >
    update t_artists
    <set >
      <if test="artistName != null" >
        artist_name = #{artistName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null" >
        big_img = #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="smallImg != null" >
        small_img = #{smallImg,jdbcType=VARCHAR},
      </if>
      <if test="artistLevel != null" >
        artist_level = #{artistLevel,jdbcType=VARCHAR},
      </if>
      <if test="artistDesc != null" >
        artist_desc = #{artistDesc,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCheck != null" >
        is_check = #{isCheck,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jeeplus.modules.business.entity.Artist" >
    update t_artists
    set artist_name = #{artistName,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      big_img = #{bigImg,jdbcType=VARCHAR},
      small_img = #{smallImg,jdbcType=VARCHAR},
      artist_level = #{artistLevel,jdbcType=VARCHAR},
      artist_desc = #{artistDesc,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      address = #{address,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_check = #{isCheck,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeeplus.modules.business.entity.Artist" >
    update t_artists
    set artist_name = #{artistName,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      big_img = #{bigImg,jdbcType=VARCHAR},
      small_img = #{smallImg,jdbcType=VARCHAR},
      artist_level = #{artistLevel,jdbcType=VARCHAR},
      artist_desc = #{artistDesc,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      address = #{address,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_check = #{isCheck,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>