<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeplus.modules.business.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.jeeplus.modules.business.entity.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="enc_balance" property="encBalance" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_bind" property="isBind" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="login_type" property="loginType" jdbcType="VARCHAR" />
    <result column="wx_open_id" property="wxOpenId" jdbcType="VARCHAR" />
    <result column="qq_open_id" property="qqOpenId" jdbcType="VARCHAR" />
    <result column="wb_open_id" property="wbOpenId" jdbcType="VARCHAR" />
    <result column="login_num" property="loginNum" jdbcType="INTEGER" />
    <result column="lastip" property="lastip" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="referer_id" property="refererId" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, phone, password, realname, idcard, email, balance, enc_balance, score, user_type, 
    create_time, update_time, is_bind, status, login_type, wx_open_id, qq_open_id, wb_open_id, 
    login_num, lastip, last_time, referer_id, service_id, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jeeplus.modules.business.entity.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_users
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_users
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jeeplus.modules.business.entity.UserExample" >
    delete from t_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jeeplus.modules.business.entity.User" >
    insert into t_users (user_id, phone, password, 
      realname, idcard, email, 
      balance, enc_balance, score, 
      user_type, create_time, update_time, 
      is_bind, status, login_type, 
      wx_open_id, qq_open_id, wb_open_id, 
      login_num, lastip, last_time, 
      referer_id, service_id, remark
      )
    values (#{userId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{balance,jdbcType=DECIMAL}, #{encBalance,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{userType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isBind,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{loginType,jdbcType=VARCHAR}, 
      #{wxOpenId,jdbcType=VARCHAR}, #{qqOpenId,jdbcType=VARCHAR}, #{wbOpenId,jdbcType=VARCHAR}, 
      #{loginNum,jdbcType=INTEGER}, #{lastip,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{refererId,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jeeplus.modules.business.entity.User" >
    insert into t_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="encBalance != null" >
        enc_balance,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isBind != null" >
        is_bind,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="loginType != null" >
        login_type,
      </if>
      <if test="wxOpenId != null" >
        wx_open_id,
      </if>
      <if test="qqOpenId != null" >
        qq_open_id,
      </if>
      <if test="wbOpenId != null" >
        wb_open_id,
      </if>
      <if test="loginNum != null" >
        login_num,
      </if>
      <if test="lastip != null" >
        lastip,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="refererId != null" >
        referer_id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="encBalance != null" >
        #{encBalance,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isBind != null" >
        #{isBind,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="loginType != null" >
        #{loginType,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null" >
        #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="qqOpenId != null" >
        #{qqOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wbOpenId != null" >
        #{wbOpenId,jdbcType=VARCHAR},
      </if>
      <if test="loginNum != null" >
        #{loginNum,jdbcType=INTEGER},
      </if>
      <if test="lastip != null" >
        #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refererId != null" >
        #{refererId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jeeplus.modules.business.entity.UserExample" resultType="java.lang.Integer" >
    select count(*) from t_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_users
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=DECIMAL},
      </if>
      <if test="record.encBalance != null" >
        enc_balance = #{record.encBalance,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.userType != null" >
        user_type = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isBind != null" >
        is_bind = #{record.isBind,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.loginType != null" >
        login_type = #{record.loginType,jdbcType=VARCHAR},
      </if>
      <if test="record.wxOpenId != null" >
        wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.qqOpenId != null" >
        qq_open_id = #{record.qqOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.wbOpenId != null" >
        wb_open_id = #{record.wbOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.loginNum != null" >
        login_num = #{record.loginNum,jdbcType=INTEGER},
      </if>
      <if test="record.lastip != null" >
        lastip = #{record.lastip,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refererId != null" >
        referer_id = #{record.refererId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceId != null" >
        service_id = #{record.serviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_users
    set user_id = #{record.userId,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      balance = #{record.balance,jdbcType=DECIMAL},
      enc_balance = #{record.encBalance,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER},
      user_type = #{record.userType,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_bind = #{record.isBind,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      login_type = #{record.loginType,jdbcType=VARCHAR},
      wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
      qq_open_id = #{record.qqOpenId,jdbcType=VARCHAR},
      wb_open_id = #{record.wbOpenId,jdbcType=VARCHAR},
      login_num = #{record.loginNum,jdbcType=INTEGER},
      lastip = #{record.lastip,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      referer_id = #{record.refererId,jdbcType=VARCHAR},
      service_id = #{record.serviceId,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeeplus.modules.business.entity.User" >
    update t_users
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="encBalance != null" >
        enc_balance = #{encBalance,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isBind != null" >
        is_bind = #{isBind,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="loginType != null" >
        login_type = #{loginType,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null" >
        wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="qqOpenId != null" >
        qq_open_id = #{qqOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wbOpenId != null" >
        wb_open_id = #{wbOpenId,jdbcType=VARCHAR},
      </if>
      <if test="loginNum != null" >
        login_num = #{loginNum,jdbcType=INTEGER},
      </if>
      <if test="lastip != null" >
        lastip = #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refererId != null" >
        referer_id = #{refererId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeeplus.modules.business.entity.User" >
    update t_users
    set phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      enc_balance = #{encBalance,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_bind = #{isBind,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      login_type = #{loginType,jdbcType=VARCHAR},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      qq_open_id = #{qqOpenId,jdbcType=VARCHAR},
      wb_open_id = #{wbOpenId,jdbcType=VARCHAR},
      login_num = #{loginNum,jdbcType=INTEGER},
      lastip = #{lastip,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      referer_id = #{refererId,jdbcType=VARCHAR},
      service_id = #{serviceId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>