<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeplus.modules.business.dao.JoinusMapper" >

  <select id="select4List" resultType="com.jeeplus.modules.business.entity.Joinus">
    select
    	id				as id, 
    	name			as name, 
    	phone			as phone, 
    	email			as email, 
    	position		as position, 
    	create_time		as createTime, 
    	status			as status,
    	reply_time		as replyTime
    from t_joinus
    <where>
       	<if test="status != null">
    		and status = #{status}
    	</if>
    	<if test="startTime != null">
    		and create_time &gt;= #{startTime}
    	</if>
    	<if test="endTime != null">
    		and create_time &lt;= #{endTime}
    	</if>
    </where>
    order by create_time
  </select>
  
  
</mapper>